<footer>
    <!-- footer -->
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 column">
                        <div class="row">
                            <div class="col-md-4 column">
                                <h3>Acentamız</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="/Default/Index/">Ana Sayfa</a></li>
                                    <li><a href="about.html">Hakkımızda</a></li>
                                    <li><a href="services.html">Hizmetler</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Bize Yazın</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                                <h3>Faydalı Linkler</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="#url">Rotalar</a></li>
                                    <li><a href="#url">Tur Rehbeleri</a></li>
                                    <li><a href="#url">Görseller</a></li>
                                    <li><a href="about.html">Çalışanlarımız</a></li>
                                    <li><a href="#url">Paketlerimiz</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                                <h3>Hizmetlerimiz</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="#url">Güvenlik</a></li>
                                    <li><a href="#url">Hizmet Şartları</a></li>
                                    <li><a href="services.html">Hizmetler</a></li>
                                    <li><a href="landing-single.html">Üye Girişi</a></li>
                                    <li><a href="#url">Rehber Girişi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                        <h3>Mail Bülteni </h3>
                        <div class="end-column">
                            <h4>Kampanya ve indirimler için abone olun.</h4>
                            <form action="#" class="subscribe" method="post">
                                <input type="email" name="email" placeholder="Mail Adresiniz" required="">
                                <button type="submit">Abone Ol</button>
                            </form>
                            <p>Yeni tur rotalarını paylaşacağız. Spam mail göndermiyoruz.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                    <div class="columns text-lg-left text-center">
                        <p>
                            &copy; @DateTime.Now.Year Traversal. Tüm hakları saklıdır.Design by <a href="https://w3layouts.com/" target="_blank"></a>

                        </p>
                    </div>
                    <div class="columns-2 mt-lg-0 mt-3">
                        <ul class="social">
                            <li>
                                <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
    </section>
    <!-- //footer -->
</footer>