<ul class="nav navbar-nav float-right">
    <li class="dropdown dropdown-language nav-item">
        <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="flag-icon flag-icon-us"></i>
        <span class="selected-language"></span></a>
        <div class="dropdown-menu" aria-labelledby="dropdown-flag">
            <div class="arrow_box">
            <a class="dropdown-item" href="/Member/Destination/Index/?culture=en"><i class="flag-icon flag-icon-us"></i> English</a>
            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> Chinese</a>
            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-ru"></i> Russian</a>
            <a class="dropdown-item" href="/Member/Destination/Index/?culture=fr"><i class="flag-icon flag-icon-fr"></i> French</a>
            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-es"></i> Spanish</a>
            <a class="dropdown-item" href="/Member/Destination/Index/?culture=tr"><i class="flag-icon flag-icon-tr"></i> Turkish</a></div>
        </div>
    </li>
</ul>