<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">@ViewBag.v1</p>
                <h4>Rotalar</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <p class="counter">@ViewBag.v2</p>
                <h4>Tur Rehberleri</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <p class="counter">@ViewBag.v3</p>
                <h4>Mutlu Müşteriler</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
                <p class="counter">25</p>
                <h4>Ödüller</h4>
            </div>
        </div>
    </div>
</section>