@model ResetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />

    <h2>Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label>Şifrenizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Password" />
        <br />
        <label>Şifrenizi Tekrar Giriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmPassword" />
        <br />
        <button class="btn btn-primary">Şifreyi Güncelle</button>
    </form>

</div>

@*demoprojelerkurs@gmail.com*@