@using EntityLayer.Concrete
@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<style>
    img{
        border-radius:50%;
    }
</style>

<h1>Rehber Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
<tr>
    <td>@count</td>
    <td><img src="@item.Image" height="50" width="50" /></td>
    <td>@item.Name</td>
    <td>@item.Description</td>


    @{
        if (item.Status == true)
        {
            <td><a href="/Admin/Guide/ChangeToFalse/@item.GuideID" class="btn btn-outline-warning">Pasif Yap</a></td>
        }
        else
        {
            <td><a href="/Admin/Guide/ChangeToTrue/@item.GuideID" class="btn btn-outline-info">Aktif Yap</a></td>
        }
    }

    <td><a href="/Admin/Guide/EditGuide/" class="btn btn-outline-success">Düzenle</a></td>
</tr>
    }
</table>
<a href="/Admin/Guide/AddGuide/" class="btn btn-outline-primary">Yeni Rehber Girişi</a>
