
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Pdf Raporları Sayfası</h2>
<a href="/PdfReport/StaticPdfReport" class="btn btn-outline-primary">Statik Pdf Raporu</a>
<br /><br />
<a href="/PdfReport/StaticCustomerReport" class="btn btn-outline-warning">Statik Misafir Raporu</a>

