
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Booking Oteller İçin Şehir ID Bilgisi Getirme</h2>
<br /><br />

      <form method="post">
          <label>Şehir adını Giriniz</label>
          <input type="text" class="form-control" name="p" />
          <br />
          <button class="btn btn-outline-primary">Şehir ID Getir</button>
      </form>