
@{
    Layout = null;
}
<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")
<body>
    @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")

    @RenderBody()

    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")

    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptsPartial.cshtml")

</body>
</html>

