
<div class="content-header row">
    <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Traversal</h3>
    </div>
    <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Üye</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Üye Paneli
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>