<ul class="nav navbar-nav float-right">
    <li class="dropdown dropdown-notification nav-item">
        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-mail">             </i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="arrow_box_right"><a class="dropdown-item" href="#"><i class="ft-book"></i> Yeni Mesaj</a><a class="dropdown-item" href="#"><i class="ft-bookmark"></i> İletişim Sayfası</a><a class="dropdown-item" href="#"><i class="ft-check-square"></i> Ana Sayfa      </a></div>
        </div>
    </li>
    <li class="dropdown dropdown-user nav-item">
        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">             <span class="avatar avatar-online"><img src="~/member/theme-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="arrow_box_right">
                <a class="dropdown-item" href="#"><span class="avatar avatar-online"><img src="~/member/theme-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><span class="user-name text-bold-700 ml-1">Atakan Yıldız</span></span></a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="/Member/Profile/Index/"><i class="ft-user"></i> Profili Düzenle</a><a class="dropdown-item" href="#"><i class="ft-mail"></i> Aktif Rezervasyonlarım</a><a class="dropdown-item" href="#"><i class="ft-check-square"></i> Geçmiş Rezervasyonlar</a><a class="dropdown-item" href="#"><i class="ft-message-square"></i> Onay  Bekleyenler</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="ft-power"></i> Çıkış Yap</a>
            </div>
        </div>
    </li>
</ul>