@model CreateGuideCommand
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Rehber Ekleme Sayfası</h2>

<form method="post">
    <label>Rehber Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Rehber Açıklaması</label>
    <input type="text" class="form-control" asp-for="Description" />
    <br />
    <button class="btn btn-outline-info">Rehberi Kaydet</button>
</form>

