@model CreateDestinationCommand
@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Tur Rotası Ekleme Sayfası (CQRS)</h2>

<form method="post">
    <label>Şehir Adı</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Gün-Gece Sayısı</label>
    <input type="text" asp-for="DayNight" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <label>Kapasite</label>
    <input type="text" asp-for="Capacity" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Tur Rotasını Kaydet</button>
</form>