<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">...</h4>
                <h4>Aktif Rezervasyon Sayınız: 4</h4>
                <h4>Geçmiş Rezervasyon Sayınız: 12</h4>
                <h4>Onay Bekleyen Rezervasyon Sayınız: 1</h4>
                <h4>Toplam Rota Sayısı: 16</h4>
                <h4>Rehber Sayımız: 6</h4>
                <h4>Toplam Misafir Sayımız: 1286</h4>
                <h4>Ortalama Puanımız: 8.97/10</h4>
            </div>
        </div>
    </div>
</div>