<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal-Liberty/assets/images/banner1.jpg", "/Traversal-Liberty/assets/images/banner2.jpg","/Traversal-Liberty/assets/images/banner3.jpg", "/Traversal-Liberty/assets/images/banner4.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Seyahatler için uzağa gitmeye gerek yok.</h3>
                        <h6 class="mb-3">Bir sonraki maceranı hemen planla</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form action="#" method="post" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <select name="selectpicker" class="selectpicker">
                                            <option value="">Rotalar</option>
                                            <option value="africa">Ukrayna</option>
                                            <option value="america">Almanya</option>
                                            <option value="asia">Belçika-Hollanda</option>
                                            <option value="eastern-europe">Balkan Turu</option>
                                            <option value="europe">Mısır Turu</option>
                                            <option value="south-america">İspanya-Tunus</option>
                                            <option value="south-america">Doğu Anadolu Gezisi</option>
                                        </select>

                                    </div>
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <input type="date" name="" placeholder="Date" required="">
                                    </div>
                                    <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                        <button class="btn btn-style btn-secondary">
                                            <span class="fa fa-search mr-3"
                                                  aria-hidden="true"></span> Rota Ara
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>