@model List<ApiMovieViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api IMDB Top 100 Film Listesi</h1>

<br />

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Film Adı</th>
        <th>Imdb Puanı</th>
        <th>Yapım Yılı</th>
        <th>Fragman</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.rank</th>
            <td>@item.title</td>
            <td>@item.rating</td>
            <td>@item.year</td>
            <td><a href="#" class="btn btn-outline-dark">Fragman</a></td>
        </tr>
    }
</table>