@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {

            var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:65140/VisitorHub").build();

            $("#connectionStatus").text(connection.connectionState);

            connection.start().then(() => {
                $("#connectionStatus").text(connection.connectionState);
            }).catch((err) => { console.log(err) });

        })
    </script>

}

<div class="container">
    <br />
    <div class="alert alert-warning">
        Bağlantınızın Durumu:<b id="connectionStatus"></b>
    </div>
</div>