
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

@await Component.InvokeAsync("_AdminDashboardHeader")

<body>
    <!-- Layout wrapper -->
    <div class="row">

        @await Component.InvokeAsync("_DashboardBanner")

        @await Component.InvokeAsync("_Cards1Statistic")

        @await Component.InvokeAsync("_TotalRevenue")

        @await Component.InvokeAsync("_Cards2Statistics")
    </div>
    <div class="row">

        @await Component.InvokeAsync("_DestinationStatistic")

        @await Component.InvokeAsync("_DestinationStatistic2")

        @await Component.InvokeAsync("_AdminGuideList")
        <!--/ Transactions -->
    </div>
    <div class="content-backdrop fade"></div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/sneat-1.0.0/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/js/bootstrap.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/sneat-1.0.0/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/sneat-1.0.0/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/sneat-1.0.0/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>