@model AccountViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Unit Of Work Personel Prim Tranferi</h3>

<form method="post">
    <label>Gönderen</label>
    <input type="text" asp-for="SenderID" class="form-control" />
    <br />
    <label>Alıcı</label>
    <input type="text" asp-for="ReceiverID" class="form-control" />
    <br />
    <label>Miktar</label>
    <input type="text" asp-for="Amount" class="form-control" />
    <br />
    <button class="btn btn-outline-warning">Hesaba Aktar</button>
</form>