<ul class="nav navbar-nav mr-auto float-left">
    <li class="nav-item d-block d-md-none"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
    <li class="nav-item dropdown navbar-search">
        <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#"><i class="ficon ft-search"></i></a>
        <ul class="dropdown-menu">
            <li class="arrow_box">
                <form>
                    <div class="input-group search-box">
                        <div class="position-relative has-icon-right full-width">
                            <input class="form-control" id="search" type="text" placeholder="Aranacak kelimeyi giriniz...">
                            <div class="form-control-position navbar-search-close"><i class="ft-x">   </i></div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>