@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>
<html lang="zxx">
<body>
    <!-- about breadcrumb -->
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Rotalar </h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Defualt/Index/">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Rotalar </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!--  Work gallery section -->
    <section class="grids-1 py-5">
        <div class="grids py-lg-5 py-md-4">
            <div class="container">
                <h3 class="hny-title mb-5">Tur Rotalarımız</h3>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-4 col-6">
                            <div class="column">
                                <a href="/Destination/DestinationDetails/@item.DestinationID">
                                <img src="@item.Image" alt="" style="width:370px; height:300px" class="img-fluid"></a>
                                <div class="info">
                                    <h4><a href="/Destination/DestinationDetails/@item.DestinationID">@item.City</a></h4>
                                    <p>@item.DayNight </p>
                                    <div class="dst-btm">
                                        <h6 class="">Başlayan fiyatlar </h6>
                                        <span>@item.Price ₺</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <link rel="stylesheet" href="~/Traversal-Liberty/assets/css/style-liberty.css">
    <script src="~/Traversal-Liberty/assets/js/bootstrap.min.js"></script>
</body>
</html>