<div class="col-lg-8 mb-4 order-0">
    <div class="card">
        <div class="d-flex align-items-end row">
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title text-primary">Tebrikler Admin! 🎉</h5>
                    <p class="mb-4">
                        Toplam abone sayınız: <span class="fw-bold">26.955</span> Son 30 günde sisteminize 824 yeni misafir abone oldu.
                    </p>

                    <a href="/Default/Index/" class="btn btn-sm btn-outline-primary">Siteye Git</a>
                </div>
            </div>
            <div class="col-sm-5 text-center text-sm-left">
                <div class="card-body pb-0 px-0 px-md-4">
                    <img src="~/sneat-1.0.0/assets/img/illustrations/man-with-laptop-light.png"
                         height="140"
                         alt="View Badge User"
                         data-app-dark-img="illustrations/man-with-laptop-dark.png"
                         data-app-light-img="illustrations/man-with-laptop-light.png" />
                </div>
            </div>
        </div>
    </div>
</div>