@using EntityLayer.Concrete
@model List<Guide> 
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Rehberlerimiz</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="reload">
                                <i class="ft-rotate-cw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div id="recent-buyers" class="media-list">
                 @foreach (var item in Model)
                 {
                    <a href="#" class="media border-0">
                        <div class="media-left pr-1">
                            <span class="avatar avatar-md avatar-online">
                                <img class="media-object rounded-circle" src="@item.Image" alt="Generic placeholder image">
                                <i></i>
                            </span>
                        </div>
                        <div class="media-body w-100">
                            <span class="list-group-item-heading">
                                @item.Name

                            </span>
                           
                            <p class="list-group-item-text mb-0">
                                <span class="blue-grey lighten-2 font-small-3"> @item.Description </span>
                            </p>
                        </div>
                    </a>
                 }
                </div>
            </div>
        </div>
    </div>