<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g10.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>3 Gece, 4 Gün Sonbahar Karadeniz Turu</h4>
                                <p>2850₺'den başlayan fiyatlar</p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g9.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>3 Gece, 4 Gün Mısır Turu</h4>
                                        <p>1500₺'den başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g8.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>2 Gece, 3 Gün Roma Turu</h4>
                                        <p>675$'dan başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g7.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>5 Gece 6 Gün Maldivler</h4>
                                        <p>12.000₺'den başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g6.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>4 Gece 5 Gün İsviçre Turu</h4>
                                        <p>1280€'dan başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>